/* Style sheet for Scholars ePortfolio web page */

/* General instructions for font, color, and background image */
body {
    font-family: Skia, Ariel, Futura, Verdana;
    color: #344152;
    margin: 50px;
    background: #90EE90;
}

/* General selector values */

/* Paragraph break height */
p {
    line-height: 1.4em;
}


/* Heading fonts and formats */
h2 {
    font-family: Skia, Futura, Verdana, Ariel;
    color: #344152;
    font-size: 2em;
    margin: 0;
    padding: 0.1em;
    padding-left: 1em;
    text-align: center;
    font-weight: plain;
}

h6 {
    font-family: Skia, Futura, Verdana, Ariel;
    color: #344152;
    font-size: 0.75em;
    margin: 0;
    padding: 0.1em;
    padding-left: 1em;
    text-align: center;
    font-weight: plain;
}

/* Colors for linked text, before and after being clicked */
a {
    text-decoration: none;
}

a:link {
    color: #1C86EE;
}

a:visited {
    color: #104E8B;
}

/* Page Layout */

#header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Layout for divisions containing images and their captions */
#picture {
    padding: 1px;
    float: right;
    text-align: center;
    font-size: 8pt;
    margin: 0 0 1em 1em;
}
/* Layout for divisions containing content */
#content {
    padding: 10px;
    float: right;
    text-align: left;
    font-size: 12pt;
    margin: 0 0 1em 1em;
}

/* Margins and alignment for images in the content division */
#content img {
    padding: 1px;
    float: right;
    margin: 0 0 1em 1em;
}

/* Layout for alignment of footer */

#footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#footer img {
    padding: 10px;
}